@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
#root{
   
      display: flex;
      flex-direction: column;
      align-items: center;
  
}
body {
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
}

$primary-color: #ff6060;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

//Header//

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-inline: 10%;
   width: 80%;
   margin-top: 15px !important;
   margin-bottom: 1%;

   img {
      margin-left: 25px;
   }
}
.active-link {
   color: white;
   text-decoration: none !important;
}

.header-right {
   display: flex;
   justify-content: flex-end;

   a {
      text-decoration: none;
      margin-right: 50px;
      margin-left: -10px;
      color: $primary-color;
      font-size: 24px;
      font-weight: 500;
      &:last-child {
         margin-right: 40px;
         margin-left: 10px;
      }
      &.active {
         text-decoration: underline;
      }
   }
}

.footer-logo {
   color: white;
   font-size: 20px;
}

//Footer//
.footer {
   width: 100%;
   height: 209px;
   background: black;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   bottom: -30px;
   margin: 0;
}

.footer p {
   margin-bottom: -4%;
   margin-top: 2%;
}

//Banner//
.banner {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   width: 75%;
   position: relative;
   margin: 0 auto;
   margin-top: 1%;
   max-width: 90%;
}

.banner-image {
   object-fit: cover;
   border-radius: 15px;
   filter: grayscale(30%);
   box-shadow: $shadow;
   display: flex;
   width: 100%;
   height: 100%;
   filter: brightness(70%);
}

.banner-text {
   position: absolute;
   font-size: 48px;
   color: white;
   font-weight: 500;
}

//Card//

.card-container {
   display: grid;
   width: 72%;
   justify-items: center;
   gap: 40px;
   justify-content: center;
   margin-top: 3%;
   margin: 5px;
}

.card {
   width: 100%;
   height: 340px;
   border-radius: 10px;
   
   position: relative; /* Ajout de la position relative pour positionner le titre */
}

.card img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
   ) !important;
}

.card h2 {
   width: 50%;
   position: absolute;
   bottom: 5px;
   bottom: 10px;
   left: 10px;
   font-size: 14px;
   font-weight: 500;
   color: white;
}

.overlay {
   z-index: 100;
   width: 100%;
   height: 340px;
   background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
   );
   top: 0;
   border-radius: 10px;
   position: absolute;
   cursor: pointer;
}

.dropdown {
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 70%;
}

.dropdown-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
}

.description {
   color: $primary-color;
}

h3 {
   width: 100%;
}

//SLIDER//
.slider {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 90%;
   margin-top: 2%;
}
.slider button {
   margin-inline: -6%;
   background: none;
   display: flex;
   position: relative;
   border: none;
   font-size: 148px;
   color: white;
   cursor: pointer;
}
.slider img {
   border-radius: 25px;
   object-fit: cover;
   width: 92%;
   height: 505px;
}

//SLIDER DESCRIPTION//
.logement-description {
   display: flex;
   margin-left: 3%;
   flex-direction: column;
   color: #ff6060;
   gap: -20px;
   width: 95%;
}
.dropdown-container.equipement .dropdown {
   width: 75% !important;
}
.description-logement .dropdown {
   width: 75% !important;
}
.logement-description-row {
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: space-between;
   align-items: flex-start;

   margin-right: 15%;
}
.logement-description-right {
   display: flex;
   flex-direction: column;
   position: relative;
   bottom: 61px;
   align-items: flex-end;
   display: flex;
   justify-content: space-between;
   right: 12%;
}

.collapse-row {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 50px;
}
/* Dropdown.css */
.dropdown-container {
   margin-bottom: 10px;
}

.dropdown {
   position: relative;
   height: 52px;
   width: 65%;
   background: #ff6060;
   border-radius: 5px;
   display: flex;
   align-items: center;
   padding: 0 1%;
}

.dropdown-title {
   color: white;
   flex: 1;
   justify-content: flex-start;
   font-size: 24px;
   font-weight: 500;
}

.dropdown-toggle {
   background: none;
   border: none;
   color: white;
   margin-right: 1%;
   cursor: pointer;
}

.dropdown-icon {
   width: 32px;
   height: 32px;
   background: none;
}

.description {
   margin-top: 1%;
   width: 65%;
   font-size: 16px;
   font-weight: 100;
   overflow: hidden;
   transition: height 0.3s, opacity 0.3s;
   margin-top: 1%;
}
.description-logement {
   align-items: flex-start;
}
.name-profile {
   display: flex;
   align-items: center; /* Pour centrer le texte et le cercle horizontalement */
   margin-bottom: 1%;
}
.rating-stars {
   font-size: 23px;
   svg {
      color: gray;
      &.active {
         color: #ff6060;
      }
   }
}

.circle {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(128, 128, 128, 0.568);
   margin-left: 10px; /* Espacement entre le nom et le cercle (ajustez selon vos besoins) */
}

.dropdown-container.description-logement .description {
   width: 70%;
   margin-left: 2%;
}

.dropdown-container.equipement {
   align-items: flex-start;
}

.dropdown-container.equipement .description {
   text-align: left;
   align-items: flex-start;
   margin-left: 1%;
   margin-top: 2%;
}

/* Appliquer le style uniquement aux Dropdown avec la classe "equipement" */
.dropdown-container.equipement .description .equipement-content {
   margin: 0;
}

.app-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 10%;
}
/*TAG*/
.tags-container {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.tag {
   background-color: $primary-color;
   color: #fff;
   padding: 8px 16px;
   border-radius: 8px;
}

.error404 {
   font-size: 256px;
   color: $primary-color;
}

.error-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.error-page h1,
a {
   margin-top: 5%;
   color: $primary-color;
}
.error-page a {
   margin-bottom: 2%;
   margin-top: 5%;
}
.image-counter {
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 14px;
}
.slider-counter-container {
   position: absolute;
   bottom: 10px;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   bottom: 380px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
   .card-container {
      width: 99%;
      display: grid;
      grid-template-columns: repeat(3, 24%);
      justify-items: center;
      gap: 18px;
      justify-content: center;
      margin-top: 3%;
  }
  .description {
  
   width: 50%;
 
}
  .slider-counter-container {
 
   bottom: 28% !important;

}

   .header {
      margin-inline: 0%;
   }
   .banner {
      width: 76%;
   }
   .banner-text {
      position: absolute;
      font-size: 40px;
   }
   .logement-description h1 {
      width: 80%;
   }
   .slider-counter-container {
      bottom: 236px;
   }
   .dropdown{
      width: 60%;
   }
   .description{
      width: 60%;
   }
}

@media screen and (min-width: 1200px) {
   .card-container {
      grid-template-columns: repeat(3, 23.5%);
      gap: 60px;
      width: 100%;
   }

   .card {
      height: 400px;
   }
   .overlay {
      height: 400px;
   }

   .header {
      margin-inline: 10%;
   }
   .banner {
      width: 77%;
      margin-bottom: 3%;
      margin-top: 2%;
   }
}

/* Pour les écrans en dessous de 768px */
@media screen and (max-width: 767px) {
   .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .about-banner{
      height: 350px !important;
   }
   .logement-description {
      margin-left: 29px;
   }
   .card-container {
      margin: 29px;
   }
   .header {
      margin-inline: 0%;
      margin-bottom: 3%;
      margin: 16px;
      width: 97% !important;
   }
   .header {
      margin-inline: 0%;
   }
   .header img {
      margin-left: 35px;

      width: 16%;
   }
   .header-right {
      margin-left: -54px;
      margin-right: 11px;
   }
   .header-right a {
      position: initial;
      margin-left: 0;
      color: #ff6060;
      font-size: 10px;
      font-weight: 500;
      margin-right: 22px !important;

      margin-left: -50px;

      text-decoration: none;
   }
   .card {
      max-width: 100%;
      display: flex;
      width: 100%;
      height: 340px;
      border-radius: 10px;

      align-items: center;
      justify-content: center;
   }
   .dropdown {
      position: relative;
      height: 52px;
      width: 461px;
      background: #ff6060;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: 0 1%;
      width: 73% !important;
   }
   .banner-text {
      position: absolute;
      font-size: 24px;
      margin-left: -110px;
      width: 60%;
      color: white;
      font-weight: 500;
   }
   .banner {
      height: 110px;
      width: 75.5%;
   }
   .a-propos {
   }
   .dropdown-container.equipement .dropdown {
      width: 95% !important;
   }
   .description-logement .dropdown {
      width: 95% !important;
   }
   .slider {
      width: 100%;
      position: relative;
   }
   .logement-description {
      width: 100%;
      margin-left: 35px;
   }
   .slider img {
      width: 86%;
      height: 392px;
   }
   .rating-stars {
      right: -22px !important;
   }
   .logement-description-right {
      position: relative;
      width: 100%;
      top: 91px;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 10%;
      align-content: center;
      justify-content: space-between;
      left: 0;
      margin-inline: -4%;
   }
   .tags-container {
      position: relative;
      top: -96px;
   }
   .app-container {
      margin-left: 0;
   }
   h1 {
      width: 75%;
   }
   .rating-stars {
      font-size: 23px;
      position: relative;
      right: 166px;
   }
   .slider button {
      margin-inline: -10%;
      font-size: 64px;
   }
   .logement-description {
      margin-left: 5%;
      width: 92%;
   }
   .collapse-row {
      width: 100%;
      flex-direction: column;
      gap: 0px;
   }
   .description {
      width: 73%;
   }

   .description-logement {
      align-items: flex-start;
   }
   .dropdown-container.description-logement .description {
      width: 92%;
   }
   .dropdown-container.equipement .description {
      margin-left: 4%;
   }
   .dropdown-container.description-logement .description {
      width: 80%;
      margin-left: 4%;
   }
   .dropdown {
      width: 73% !important;
   }
   .slider-counter-container {
      bottom: 13px;
   }
   .error-page h1,
   a {
      font-size: 15px;
      text-align: center;
   }
   .error404 {
      font-size: 189px;
   }
}
@media screen and (max-width: 378px) {
   .header-right a {
      margin-right: 22px !important;
      margin-left: 10px;
   }

   .header {
      margin-inline: 0%;
   }

   .logement-description-right {
      top: 150px;
   }
   .banner-text {
      margin-left: 20px;
      width: 100%;
   }
   .header img {
      width: 100px;
   }
   .header-right {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
   }
}

.w-100{
   width: 100% !important;
}

.h-100{
   height: 100% !important;
}

.h-50{
   height: 50% !important;
}

.w-50{
   width: 50% !important;
}